$breakpoints: (
    "smob": "(max-width: 420px)",
    "mob": "(min-width:421px) and (max-width:652px)",
    "hero": "(min-width:540px) and (max-width:652px)",
    "sstab": "(min-width:559px) and (max-width:652px)",
    "stab": "(min-width:653px) and (max-width:744px)",
    "tab": "(min-width:744px) and (max-width:1000px)",
    "tabs": "(min-width:1000px)",
    "maxtab": "(max-width:1000px)",
    "sdesk": "(min-width:1001px) and (max-width:1500px)",
    "desk": "(min-width:1501px) and (max-width:2000px)",
);

@mixin breakpoint($user-value) {
  $my-map: map-get($breakpoints, $user-value);
  @if $my-map {
      @media (#{$my-map}) {
          @content;
      }
  }@else {
      @error "breakpoint #{$user-value} Not Working"
  }
};

.Qualpage {
    width: 100vw;
    height: 100vh;
    background-color: var(--sec-color);
    display: flex;
    flex-direction: column;
}

.ambassador-page {
    background-color: var(--pri-color);
    width: 65vw;
    height: 70vh; 
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(smob) {
        width: 90vw;
    }
    @include breakpoint(mob) {
        width: 90vw;
    }

    h1 {
      font-family: jetbrains;
      margin-bottom: 10px;
      @include breakpoint(smob) {
        font-size: 30px;
        text-align: center;
      }
      @include breakpoint(mob) {
        font-size: 30px;
      }
    }

    .jobs {
    position: relative;
    top: 5px;
    left: 10px;
       h1 {
        color: black;
        font-size: 16px;
        font-family: Tafel;
    }
    }
}

.ambassador-group {
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    &:first-child {
      margin-top: 0px;
    }
}

.ambassador-box {
    width: 100%;
    height: fit-content;
}

.ambassador-details {
    width: 45%;
    height: 130px;
    background-color: white;
    border-radius: 10px;  
    
    h1 {
        color: black;
        font-family: Tafel;
        font-size: 16px;
        display: flex;
        align-items: center;
        margin: 0px;
    }  
}

.middle {
    margin: auto;
}

.kol {
    width: fit-content;
    height: 40px;
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 10px;
    h1 {
        @include breakpoint(smob) {
            display: none;
        }
        @include breakpoint(mob) {
            display: none;
        }
    }
    @include breakpoint(smob) {
        padding: 0px;
    }
    @include breakpoint(mob) {
        padding: 0px;
    }
}

.kol-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    img {
        border-radius: 3px;
    }
}

//review

.reviews {
    width: 401px !important;
    height: 107px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: var(--pri-color);
    border-radius: 50px;
}

.review-box{
    width: 383px !important;
    height: 84px;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    display: flex !important;
    align-items: center;

    p {
        color: black;
        font-size: 12px;
        text-align: left;
        flex-wrap: wrap;
    }
}