$breakpoints: (
    "smob": "(max-width: 420px)",
    "mob": "(min-width:421px) and (max-width:652px)",
    "hero": "(min-width:540px) and (max-width:652px)",
    "sstab": "(min-width:559px) and (max-width:652px)",
    "stab": "(min-width:653px) and (max-width:744px)",
    "tab": "(min-width:744px) and (max-width:1000px)",
    "tabs": "(min-width:1000px)",
    "maxtab": "(max-width:1000px)",
    "sdesk": "(min-width:1001px) and (max-width:1500px)",
    "desk": "(min-width:1501px) and (max-width:2000px)",
    "icon-fix": "(max-width:652px)",
);

@mixin breakpoint($user-value) {
  $my-map: map-get($breakpoints, $user-value);
  @if $my-map {
      @media (#{$my-map}) {
          @content;
      }
  }@else {
      @error "breakpoint #{$user-value} Not Working"
  }
};

:root {
  --text-base: clamp(14px, 1.2vw, 18px);
  --text--bigger-base: clamp(18px, 5vw, 20px);
  --text-display-basee: clamp(36px, 4vw, 80px); 
}

.Contact-page {
    // background-color: var(--sec-color);
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left center;
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      font-family: bricmed;
      color: white ;
      margin-bottom: 20px;
      width: 100%;
    }

    h1 {
      font-family: bricmed;
      font-size: 32px;
      display: flex;
      margin-bottom: 15px;
      // justify-content: center;
      // position: relative;
      // top: 90px;
      // @include breakpoint(sdesk) {
      //   font-size: 80px; 
      //   top: 60px;
      // }
      // @include breakpoint(desk) {
      //   font-size: 80px; 
      //   top: 60px;
      // }
      // @include breakpoint(maxtab) {
      //   font-size: 64px;
      //   top: 60px;
      // }
      // @include breakpoint(smob) {
      //   font-size: 48px;
      // }
    }
}

.form-box {
    background: linear-gradient(to bottom, #51237E, #933FE4);
    // background-color: var(--pri-color);
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 60vw;
    max-width: 550px;
    margin: auto;
    border-radius: 10px;
    padding: 25px 45px;
    z-index: 100;
    position: inherit;
    top: 120px;
    @include breakpoint(smob) {
      width: 85vw;
    }
    @include breakpoint(mob) {
      width: 80vw;
    }
} 

.form {
  color: #A8A8A8;
    display: grid;
    place-items: center;
  input {
    &:first-child {
      margin-top: 40px;
    }
    color: #A8A8A8;
    padding-left: 10px;
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
  }

  textarea {
     color: #A8A8A8;
     padding-left: 10px;
     padding-top: 10px;
     width: 100%;
     margin-bottom: 30px;
     resize: none;
     outline: none;
     border: none;
     border-radius: 10px;
  }

  button {
    background-color: var(--pri-color) !important;
    width: 30px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    display: flex ;
    align-items: center;
    justify-content: center;
    
  }
}

.conn{
  font-size: var(--text-display-basee) !important;
}

.btn-form {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100% !important;
  height: 36px !important;
  background-color: var(--sec-color) !important;
  color: white;
  background-color: var(--sec-color) !important;
}

.img-contact {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  @include breakpoint(smob) {
    display: none;
  }
  @include breakpoint(mob) {
    display: none;
  }
}

.g-connect {
  position: absolute;
  right: 0px;
  bottom: 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect {
  width: 60px;
  height: 50px;
  background-color: var(--pri-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  // &:hover {
  //   transform: translateX(-5px);
  //   cursor: pointer;
  // }

  @include breakpoint(icon-fix) {
    width: 40px;
  }

  @include breakpoint(smob) {
    display: none;
  }
}

.black {
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.3);
  }
}